<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
  <xacro:macro name="pipette_tool" params="
  ur_type
  connected_to
  ">
    <xacro:property name="pipette_offset" value="0.110" />
    <xacro:property name="tcp_offset" value="0.083" />

    <link name="${ur_type}_pipette_tool">
      <visual>
        <geometry>
          <mesh filename="package://titration_robot_cell_description/meshes/one1000.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin rpy="0 0 0" xyz="0 0 0"/> -->
        <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://titration_robot_cell_description/meshes/one1000.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin rpy="0 0 0" xyz="0 0 0"/> -->
        <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
      </collision>
    </link>

    <link name="${ur_type}_tcp"/>

    <joint name="${ur_type}_pipette_tool_joint" type="fixed">
      <parent link="${ur_type}_${connected_to}"/>
      <child link="${ur_type}_pipette_tool"/>
      <!-- <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 ${pipette_offset}"/> -->
      <origin xyz="0 0 ${pipette_offset}" rpy="0 0 0"/>
    </joint>

    <joint name="${ur_type}_tcp_joint" type="fixed">
      <parent link="${ur_type}_pipette_tool"/>
      <child link="${ur_type}_tcp"/>
      <origin xyz="0 0 ${tcp_offset}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
